.flex-box{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 207, 207);
    color: white;
    flex-direction: column;
}
.navigatiuon ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}
.navigatiuon li a {
    text-decoration: none;
    color: white;

}
.navigatiuon li {
   /* margin-left: 5px; 
    margin-right: 5px;*/
    margin: 0 5px;

}
.nav-wrapper {
    background-color: #282828;
    
}
.main {
    flex-grow: 3;
    background-color: rgb(239, 236, 236);
    padding: 15px;

}
.menu li a {
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 217, 217);
    height: 326px;

}

.side {
    flex-grow: 1;
    background-color: rgb(191, 189, 189);
    padding: 15px;
    ;
}

.side-item {
    height: 175px;
    background-color: gray;
    margin-top: 10px;
    padding: 15px;
}

.main-item {
    height: 175px;
    background-color: gray;
    margin-top: 10px;
    padding: 15px;
}
